/dot_prj_*/

!/dot_prj_stage0/
/dot_prj_stage0/bin/
/dot_prj_stage0/obj/
/dot_prj_stage0/*.csproj

!/dot_prj_stage1/
/dot_prj_stage1/bin/
/dot_prj_stage1/obj/
/dot_prj_stage1/*.csproj

/refs4player/
/refs4editor/

/out_dot/
/out_u3d/

/u3d_prj/

/*.sln
/*.log
