/dot_prj_*/bin/
/dot_prj_*/obj/
/dot_prj_*/*.csproj

/out_dot/
/out_u3d/

/refs4player/
/refs4editor/

/u3d_prj/.vscode/
/u3d_prj/Library/
/u3d_prj/Logs/
/u3d_prj/**/Plugins/*
!/u3d_prj/**/Plugins/.gitkeep
/u3d_prj/*.csproj
/u3d_prj/*.sln

/*.sln
/*.log
