/dot_prj_*/bin/
/dot_prj_*/obj/
/dot_prj_*/*.csproj

/out_dot/
/out_u3d/

/refs4player/
/refs4editor/

/u3d_prj_*/.vscode/
/u3d_prj_*/**/Plugins/*
!/u3d_prj_*/**/Plugins/.gitkeep
/u3d_prj_*/**/StreamingAssets/*
!/u3d_prj_*/**/StreamingAssets/.gitkeep
/u3d_prj_*/Library/
/u3d_prj_*/Logs/
/u3d_prj_*/obj/
/u3d_prj_*/Temp/
/u3d_prj_*/*.csproj
/u3d_prj_*/*.sln

/*.sln
/*.log
/*.zip
